<%-include('partials/header')  %>
<%-include('partials/navbar')  %>

<div class="w-4/5 mx-auto my-5 bg-gray-700 text-gray-400 m-2">
    <div class="flex flex-cols-2 justify-between">
        <a class="p-2 m-2 bg-blue-500 rounded text-white" href="/crear">Crear publicacion</a>
    </div>
</div>

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" >
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Titulo
                </th>
                <th scope="col" class="px-6 py-3">
                    Autor
                </th>
                <th scope="col" class="px-6 py-3">
                    Imagen
                </th>
                <th scope="col" class="px-6 py-3">
                    Fecha
                </th>
                <th scope="col" class="px-6 py-3">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody id="cargar-tabla">
            
            
        </tbody>
    </table>
</div>

<script src="/js/admin.js"></script>
<%-include('partials/footer')  %>